# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
skills/
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# all files listed
*all-files.txt

architecture.md
changes.md
plan.md
plan-2026-03-14.md
files.md
files-2026-03-14.md
files-2026-03-15.md
files-2026-03-16.md
files-2026-03-17.md 

PRD.md

pOwers/**
sKills/**